.profile {
  padding-top: 50px;

  width: 500px;
  height: 100%;

  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
}

.description {
  text-align: center;
}

.avatar {
  width: 250px;
  height: 250px;

  border-radius: 100%;
  background-color: #fff;
}

.name {
  margin: 20px 0 0 0;
  font-size: 40px;
  font-weight: 600;
}

.tag,
.location {
  margin: 15px 0 0 0;

  font-size: 25px;
  color: rgb(180, 180, 180);
}

.stats {
  display: flex;
  justify-content: space-around;

  margin: 70px 0 0 0;
  padding: 0;

  list-style: none;

  background-color: #e4e3e3;
}

.stats li {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: calc(100% / 3);
  height: 150px;

  border-top: 1px solid #a9a9a9;
}

.stats li:not(:last-child) {
  border-right: 1px solid #a9a9a9;
}

.label {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.56);
}

.quantity {
  font-size: 25px;
  font-weight: 700;
}

.label,
.quantity {
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
