.transaction__history {
  margin-top: 100px;

  width: 700px;

  font-family: Helvetica, sans-serif;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-collapse: collapse;
  overflow: hidden;
}

.title {
  background-color: #00bfff;
}

.title th:not(:last-child) {
  border-right: 0.5px solid #fff;
}

.title th {
  padding: 20px;
  font-size: 20px;
  color: #fff;
}

.item__table td:not(:last-child) {
  border-right: 0.5px solid rgba(202, 202, 202, 0.69);
}

.pair,
.odd {
  padding: 15px;

  font-size: 18px;
  text-align: center;

  color: rgba(0, 0, 0, 0.5);
}

.odd {
  background-color: #e4e3e3;
}
